.rooms {
    margin: 3rem auto;
    text-align: center;
    color: orange
  }
  
  .rooms h1 {
    font-size: 5rem;
  }

  .rooms h2 {
    font-size: 4rem;
  }

  .rooms h3 {
    font-size: 3rem;
  }

  .rooms h4 {
    font-size: 2rem;
  }